<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.basedata.MaterialMapper">

    <insert id="addMaterial" parameterType="org.sang.bean.basedata.Material">
        INSERT INTO material
        (name, number, baseUnitId, baseUnitName, materialTypeId, materialTypeName, materialModel)
        values (#{name},#{number},#{baseUnitId},#{baseUnitName},#{materialTypeId},#{materialTypeName},#{materialModel})
    </insert>

    <select id="getMaterial" resultType="org.sang.bean.basedata.Material">
        SELECT* from material
    </select>

    <select id="getMaterialCount" resultType="int">
        SELECT count(*) FROM material
        <where>
            <if test="keywords!=null" >
                AND name LIKE concat('%',#{keywords},'%')
            </if>
        </where>
    </select>

    <select id="getAllMaterial" resultType="org.sang.bean.basedata.Material">
        SELECT* FROM material
        <where>
            <if test="keywords!=null">
                AND name LIKE concat('%',#{keywords},'%')
            </if>
        </where>
        ORDER BY id DESC limit #{start},#{count};
    </select>

    <select id="getMaterialById" parameterType="int" resultType="org.sang.bean.basedata.Material">
        SELECT* from material where id=#{id}
    </select>

    <delete id="deleteMaterial">
        DELETE FROM material WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <update id="updateMaterial">
        UPDATE material SET name=#{name},number=#{number},baseUnitId=#{baseUnitId},
                            baseUnitName=#{baseUnitName},materialTypeId=#{materialTypeId},
                            materialTypeName=#{materialTypeName},materialModel=#{materialModel}
        WHERE id=#{id}
    </update>
</mapper>