<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.warehouse.WarehouseReceiptMapper">
    <insert id="addNewWarehouseReceipt" parameterType="org.sang.bean.warehouse.WarehouseReceipt" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO warehouse_receipt
        SET number=#{number},name=#{name},state=#{state},contractId=#{contractId}
            ,consigneeId=#{consigneeId},receiptdate=#{receiptdate}
    </insert>

    <select id="getWarehouseReceiptCount" resultType="int">
        SELECT count(*) FROM warehouse_receipt
        <where>
            <if test="keywords!=null" >
                AND name LIKE concat('%',#{keywords},'%')
            </if>
        </where>
    </select>

    <select id="getWarehouseReceipt" resultType="org.sang.bean.warehouse.WarehouseReceipt">
        SELECT* FROM warehouse_receipt
        <where>
            <if test="keywords!=null">
                AND name LIKE concat('%',#{keywords},'%')
            </if>
        </where>
        ORDER BY id DESC limit #{start},#{count};
    </select>

    <select id="getWarehouseReceiptById" parameterType="int" resultType="org.sang.bean.warehouse.qo.WarehouseReceiptQo">
        SELECT
            w.*,
            p.name as contractName,
            p.purType as purType,
            p.payment as payment,
            p.supplierId as supplierId,
            p.employeeId as employeeId
        from warehouse_receipt w
            left join purcontract p on w.contractId = p.id
        where
            w.id=#{id}
    </select>

    <delete id="deleteWarehouseReceiptById">
        DELETE FROM warehouse_receipt WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="submitWarehouseReceipt">
        UPDATE warehouse_receipt  SET state="EXCUTE" WHERE id=#{id}
    </update>

    <select id="getExcuteWarehouseReceipt" resultType="org.sang.bean.warehouse.WarehouseReceipt">
        SELECT* FROM warehouse_receipt where state = 'EXCUTE'
    </select>

    <update id="updateWarehouseReceipt">
        UPDATE warehouse_receipt
        SET number=#{number},name=#{name},state=#{state},contractId=#{contractId}
            ,consigneeId=#{consigneeId},receiptdate=#{receiptdate}
        where id = #{id}
    </update>

    <update id="close">
        UPDATE warehouse_receipt
        SET state='CLOSE'
        where id = #{receiptId}
    </update>
</mapper>